
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #3c3c3c;
  overflow: hidden;
  pointer-events: none;
  opacity: 1;
} 
.gear-box{
  width: 216px;
  height: 216px;
  position: absolute;
  left: 50%;
  top: 45%;
  margin: -108px 0 0 -108px;
}

.gear1{
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  animation: 5s gear1Animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading1{
  position: absolute;
  top: 60%;
  left: 47%;
  font-size: 2rem;
}
.loader.active{
  opacity: 0;
}
.gear2{
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-22deg);
  animation: 5s gear2Animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: white;
}
.gear-box.box1{
  left: 0;
  top: auto;
  bottom: 0;
  margin: 0;
  transform: scale(3);
  opacity: 0.4;
}
.gear-box.box2{
  left: auto;
  top: 0;
  right: 0;
  margin: 0;
  transform: scale(3);
  opacity: 0.4;
}

@keyframes gear1Animation {
  from{

transform: rotate(0deg);
  }
  to{
transform: rotate(360deg);
  }
}
@keyframes gear2Animation {
  from{
transform: rotate(-22deg);
  }
  to{
transform: rotate(-382deg);
  }
}  
@keyframes loader {

0% {
  width: 0;
}

20% {
  width: 10%;
}

25% {
  width: 24%;
}

43% {
  width: 41%;
}

56% {
  width: 50%;
}

66% {
  width: 52%;
}

71% {
  width: 60%;
}

75% {
  width: 76%;
  
}

94% {
  width: 86%;
}

100% {
  width: 100%;
}

}
.progress {
  animation: loader 4s ease infinite;
  background: #43ded7;
  color: #fff;
  padding: 5px;
  width: 0;
}
.progress-bar {
border-radius: 60px;
  border: 1px solid black;
overflow: hidden;
width: 50%;
margin-left: 25%;
margin-top: 73vh;

span {
  display: block;
}

}